<!-- Favicons for Web and iOS -->

{% capture favicon_path %}{{ '/assets/img' | relative_url }}{% endcapture %}

{%- comment -%}
기본 파비콘 (대부분의 브라우저)
{%- endcomment -%}
<link rel="icon" type="image/png" sizes="96x96" href="{{ favicon_path }}/favicon-96x96.png">

{%- comment -%}
iOS 홈 화면 아이콘
{%- endcomment -%}
<link rel="apple-touch-icon" sizes="180x180" href="{{ favicon_path }}/apple-touch-icon.png">

{%- comment -%}
PWA 옵션이 켜져 있을 때 manifest 사용
{%- endcomment -%}
{% if site.pwa.enabled %}
  <link rel="manifest" href="{{ favicon_path }}/site.webmanifest">
{% endif %}