---
layout: page
# The Category layout
---

{% include lang.html %}

<div id="page-category">
  <h1 class="ps-lg-2">
    <i class="far fa-folder-open fa-fw text-muted"></i>
    {{ page.title }}
    <span class="lead text-muted ps-2">{{ page.posts | size }}</span>
  </h1>

  <div class="content">
    <ul class="content ps-0">
      {% for post in page.posts %}
        {% if post.layout == 'publication' %}
          <li class="list-unstyled mb-5">
            <div class="card p-3 h-100">
              <div class="row g-3 align-items-center">
                <!-- 이미지 영역 -->
                <div class="col-12 col-md-4 text-center text-md-start">
                  {% if post.image %}
                    <img
                      src="{{ post.image | relative_url }}"
                      alt="Publication Image"
                      class="img-fluid"
                      style=""
                    >
                  {% else %}
                    <img
                      src="{{ '/assets/img/result.png' | relative_url }}"
                      alt="Publication Image"
                      class="img-fluid"
                      style=""
                    >
                  {% endif %}
                </div>

                <!-- 텍스트 영역 -->
                <div class="col-12 col-md-8 ps-md-4 mt-2 mt-md-0">
                  <h4 class="mb-1">
                    {{ post.title }}
                  </h4>
                  <p class="text-muted mb-1">{{ post.authors }}</p>
                  <p class="text-muted mb-1">{{ post.venue }}</p>
                  <p class="text-muted mb-0">
                    {% include datetime.html date=post.date lang=lang %}
                  </p>
                </div>
              </div>
            </div>
          </li>
        {% else %}
          <li class="d-flex justify-content-between px-md-3">
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            <span class="dash flex-grow-1"></span>
            {% include datetime.html date=post.date class='text-muted small text-nowrap' lang=lang %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
